.gbt3__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}
.gbt3__navbar_links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.gbt3__navbar_links_logo {
  margin-right: 2rem;
}
.gbt3__navbar_links_logo img {
  width: 62px;
  height: 16px;
}
.gbt3__navbar_links_container {
  display: flex;
  flex-direction: row;
}
.gbt3__navbar_sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.gbt3__navbar_links_container p,
.gbt3__navbar_sign p,
.gbt3__navbar_menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 25px;
  margin: 0 1rem;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
}
.gbt3__navbar_sign button,
.gbt3__navbar_menu_container button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  background-color: #ff4820;
  border: 0;
  cursor: pointer;
  outline: none;
}
.gbt3__navbar_menu {
  display: none;
  margin-left: 1rem;
  position: relative;
}
.gbt3__navbar_menu svg {
  cursor: pointer;
}
.gbt3__navbar_menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: var(--color-footer);
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  border-radius: 5px;
  min-width: 210px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.gbt3__navbar_menu_container p {
  margin: 1rem 0;
}
.gbt3__navbar_menu_container_links_sign {
  display: none;
}
/*! .....................................................................MEDIA QUERIY...............................  */
@media screen and (max-width: 1050px) {
  .gbt3__navbar_links_container {
    display: none;
  }
  .gbt3__navbar_menu {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .gbt3__navbar_menu {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .gbt3__navbar_menu {
    padding: 2rem;
    top: 0;
  }
  .gbt3__navbar_sign {
    display: none;
  }
  .gbt3__navbar_menu_container {
    top: 60px;
  }
  .gbt3__navbar_menu_container_links_sign {
    display: block;
  }
}
@media (min-width: 550px) and (max-width: 700px) {
  .gbt3__navbar_menu_container {
    top: 70px;
  }
  .gbt3__navbar_sign {
    text-align: center;
  }
}
.hide {
  display: none;
}
